
.App {
  text-align: center;
  background-color: #689155;
  height: 100vh;
  font-size: 1em;
  .header {
    color: white;
    background-color: black;
    // width: 100%;
    padding: 20px;
    font-size: 1.05em;
    p {
      width: 50%;
      margin: 0 auto;
    }
  }
  .cityList {
    background-color: snow;
    max-width: 80%;
    height: 70vh;
    margin: 40px auto;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    .city {
      width: 40%;
      .form {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .input {
          display: flex;
          justify-content: space-between;
          margin: 5px;
          background-color: lightgray;
          .radio {
            margin: 0 10px;
          }
        }
        .button {
          margin: 5px auto;
          width: 50%;
        }
      }
    }
  }
  .card {
    margin-top: 20px;
    p {
      margin: 30px;
      text-align: left;
    }
    h2 {
      margin: 10px;
    }
  }
}
