.App {
  .nav {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-logo {
      width: 16vw;
      display: flex;
      justify-content: center;
      h1 {
        margin: 0;
        font-size: 3.6rem;
      }
    }
    .nav-buttons {
      width: 84vw;
      display: flex;
      justify-content: center;
      .nav-button {
        margin: 5px;
        padding: 5px;
        border: 2px solid gray;
        border-radius: 5px;
        font-size: 1.6rem;
        outline: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .dashboard {
    display: inline-flex;
    .city-list-container {
      .city-search {
        width: 100%;
        font-size: 1.6rem;
      }
      .srollable-list {
        width: 16vw;
        max-height: 86vh;
        overflow-y: scroll;
        p {
          margin: 0;
          padding: 5px;
          font-size: 1.6rem;
        }
        .city-list-card {
          padding-left: 20px;
          border-radius: 5px;
          margin: 0 5px;
          &:hover {
            cursor: pointer;
            background-color: lightgrey;
          }
        }
        &::-webkit-scrollbar {
          background: transparent;
          width: .8rem;
        }
        &::-webkit-scrollbar-thumb {
          background-color: lightgrey;
          border-radius: 10px;
        }
      }
    }
    .dashboard-metrics {
      width: 84vw;
      display: flex;
      flex-direction: column;
      max-height: 90vh;
      overflow-y: scroll;
      padding: 2rem;
      h1 {
        text-align: center;
        font-size: 3.2rem;
      }
      .metrics-button-container {
        margin: 1rem auto;
        .metrics-button {
          margin: 5px;
          padding: 5px;
          border: 2px solid gray;
          border-radius: 5px;
          font-size: 1.6rem;
          outline: none;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .overall-score {
        text-align: center;
        font-size: 2.4rem;
        margin: auto;
      }
      .summary {
        max-width: 75%;
        margin: 5px auto;
        font-size: 1.4rem;
      }
      .metrics-scores-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: 60vh;
        padding-left: 10%;
        .metrics-score {
          display: flex;
          align-items: center;
          width: 45%;
          p {
            margin-left: 10px;
            font-size: 1.2rem;
          }
          .score-bar {
            position: relative;
            height: 8px;
            width: 140px;
            border-radius: 50px;
            border: 1px solid black;
            .filler {
              background: #40f49d;
              height: 100%;
              border-radius: inherit;
              transition: width .2s ease-in;
            }
          }
        }
      }
      .dashboard-details {
        width: 80%;
        margin: 0 auto;
        .dashboard-details-header-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 5px;
          padding: 5px;
          border: 1px solid lightgrey;
          &:hover {
            cursor: pointer;
          }
          h3 {
            font-size: 2rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
        .detail-value-container {
          display: flex;
          width: 95%;
          justify-content: space-between;
          p {
            margin-left: 5%;
            font-size: 1.4rem;
          }
          .currency-container {
            width: 6%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
      .chart-container {
        max-width: 78vw;
        overflow-x: scroll;
        margin: auto;
        &::-webkit-scrollbar {
          background: transparent;
          height: .8rem;
        }
        &::-webkit-scrollbar-thumb {
          background-color: lightgrey;
          border-radius: 10px;
        }  
      }
      .city-image {
        width: 100%;
        margin-top: 10%;
        padding-left: 1%;
      }
      .mapbox-container {
        height: 400px;
        width: 500px;
        margin: auto;
        border: 2px solid;
      }
      &::-webkit-scrollbar {
        background: transparent;
        width: .8rem;
      }
      &::-webkit-scrollbar-thumb {
        background-color: lightgrey;
        border-radius: 10px;
      }
    }
    .landing {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 2.4rem;
      }
    }
  }
}
